
.add-form {
  margin-bottom: 20px;
}

.add-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.add-form input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.add-form button[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.add-form button[type="submit"]:hover {
  background-color: #0056b3;
}


.project-list {
  margin-bottom: 20px;
}

.project-list h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-list ul {
  list-style: none;
  padding: 0;
}

.project {
  margin-bottom: 20px;
}

.project h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project ul {
  list-style: none;
  padding: 0;
}

.task {
  margin-bottom: 10px;
}


.project h3 {
  font-size: 18px;
  margin-bottom: 5px;
}


.task {
  font-size: 16px;
  margin-left: 20px;
}
